/* 6DB1BF */
/* FFEAEC */
/* 3F6C51 */
/* F39A9D */
/* 301A4B */
*{

    // border: .2px solid black;
}

footer {
    height: 30px;
}
main {
    font-family:  Helvetica, sans-serif, Arial;
}
// Nav-BAR
nav {
    color: white;
    background-color: #301A4B;
    height: 45px;
    margin-bottom: 30px;
}

.fa-github{
    color: white;
    &:hover{
        color: black;
    }
}
// END

.input-wrapper {
    background-color: #FFEAEC;
    margin: 0 auto;
    width:500px;
    height: 600px;
    text-align: center;
    line-height: 1.5;
    box-shadow: 2px 4px 15px 2px #000000;
    border-radius: 10px;
}

.location-input{
    transform: translateY(2px);
    height: 38px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.weather-output-wrapper {
    font-size: 35px;
}

.hidden {
    display: none;
}

button {
    background-color: #6DB1BF !important;
}